.elements{
 display: grid!important;
 grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) )!important;
 /* background-color: red; */
 gap: 5px;
 padding: 7px!important;
}

.element{
    margin-bottom: 5px!important;
    border: solid yellow 1px!important;
    padding: 11px!important;
    min-height: 400px!important;
}

.element:hover{
    cursor: pointer;
}

.element  > li{
    list-style-type: none;
}

.titleImg{
 font-size: 16px;
}

.element > img{
    max-width: 250px;
    max-height: 250px;
}

